/* Rules */
.contanier{width: 900px;margin: auto;}
body{background-color: #181818;}
/* Rules END */

/* Signup seaction */
.signup{
  background-image:url('../img/3a.jpg');
  background-size: cover;
  padding-top: 16px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 28%;
  margin: 20px auto;
}
.signup:hover{
-webkit-box-shadow:5px 5px 8px #FFF,
-5px -5px 8px #FFF;
-moz-box-shadow:5px 5px 8px #FFF,
-5px -5px 8px #FFF;
-o-box-shadow:5px 5px 8px #FFF,
-5px -5px 8px #FFF;
-moz-box-shadow:5px 5px 8px #FFF,
-5px -5px 8px #FFF;
-ms-box-shadow:5px 5px 8px #FFF,
-5px -5px 8px #FFF;
box-shadow:5px 5px 8px #FFF,
-5px -5px 8px #FFF;
}


.signup .back{
  background: none;
  border: 1px solid #FFF;
}
.signup .back a{
  text-decoration: none;
  color: #FFF;
}
.signup h2{
  text-transform: uppercase;
  color: #FFF;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signup p{
  line-height: 1.6;
  color:#FFF;
  padding: 0 40px;
  width: 50%;
  margin-left: 21%;
  font-family: Arial, Helvetica, sans-serif;
}
.signup .inputs label{
  display: block;
  color: #FFF;
  margin-bottom: 1px;
  padding-top: 26px;
  text-shadow:  0px 1px 8px #EE0070;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.signup .inputs input{
  height: 20px;
}
.signup .inputs input:hover{ box-shadow: 0px 1px 8px #c60159;}

.signup .inputs .register{
  display: block;
  background-color: #191E22;
  color: #FFF;
  padding: 10px 25px 10px 25px;
  margin-left: 43%;
  margin-top: 5%;
  font-size: 20px;
  border: 0px solid #FFF;
  cursor: pointer;
  box-shadow: 0px 1px 8px #c60159;
}
/* signup Seaction END */

/* Footer */
.footer{
  background-color: #191E22;
  text-align: center;
  color: #6a6e71;
  font-weight: bold;
  padding-bottom:8px;
  padding-top: 10px;
  padding-right:10px;

}


.footer ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-right: -30px;
  padding-top: 15px;
}

.footer ul li{display: inline-block;}
.footer ul li img{padding-right:15px;}
.footer .fot{color: #FFF;padding-bottom: 5px;}
/* Footer END */
